<div class="home-filter">
    <div class="control-group">
        <button autofocus class="filter-control">Buy</button>
        <button class="filter-control">Rent</button>
    </div>

    <div class="c-form-group">
        <div class="c-form-row">
            <div class="c-form-field">
                <input type="text" placeholder="Location">
            </div>              

            <div class="c-form-field c-select">
                <select placeholder="Property Type">
                    <option value="" selected>Property Type</option>
                    <option value="">Villa</option>
                    <option value="">Apartment</option>
                </select>
            </div>

            <div class="c-form-field">
                <input type="text" placeholder="Space">
            </div>
        </div>
        
        <div class="c-form-row">
            <div class="c-form-field">
                <input type="text" placeholder="Min Price">
            </div>
            <div class="c-form-field">
                <input type="text" placeholder="Max Price">
            </div>
        </div>
        <div class="c-form-field">
            <input type="submit" value="Search">
        </div>
    </div>
</div>