button {
    all: unset;
    cursor: pointer;
    font: inherit;
}

:is(button, .button) {
    padding: 12px 24px;
    border-radius: 2px;
}

.button-full-width {
    width: 100%;
}

/*#region Primary Button  */
.button-primary {
    background: var(--primary-base);
    color: white;
}

.button-primary:hover {
    background: var(--primary-hover);
}
/*#endregion */

/*#region Secondary Button  */
.button-secondary {
    background: white;
    border: 1px solid black;
}

.button-secondary:hover {
    background: var(--layout-color);
}
/*#endregion */

/*#region Tertiary Button  */
.button-link {
    background: white;
}

.button-link:hover {
    background: var(--layout-color);
}
/*#endregion */

.button-icon {
    padding: 12px;
    border-radius: 2px;
    display: grid;
    place-items: center;
    background: white;
}

.button-icon:hover {
    background: var(--layout-color);
}