<nav class="navbar">
  <div class="navbar-brand">
    <a routerLink="">Bayty</a>
  </div>
  <button class="navbar-toggler">
    H
  </button>
  <div class="navbar-right" *ngIf="isUserLoggedIn; else signedOutBlock">
    <!-- <ul class="navbar-links" *ngFor="let link in navigationLinks">
      <a class="button-icon" [routerLink]="link.routerRedirect">
        <img [src]="link.iconPath" alt="">
      </a>
    </ul> -->
    <button class="button button-secondary" (click)="isUserLoggedIn = !isUserLoggedIn">Sign out</button>
  </div>
  <ng-template #signedOutBlock>
    <ul class="navbar-links">
      <button class="button button-secondary" (click)="isUserLoggedIn = !isUserLoggedIn">Login</button>
      <a class="button button-primary" routerLink="register">
        Register
      </a>
    </ul>
  </ng-template>
</nav>
<div class="navbar-collapse">

</div>