.navbar {
  background: white;
  box-shadow: var(--layout-shadow);
  height: var(--navbar-height);
  padding-inline: 16px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-right {
  display: flex;
  justify-content: center;
  gap: 32px;
}

@media (width > 767px) {
  .navbar {
    padding-inline: 32px;
  }

  .navbar-links {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .navbar-toggler {
    display: none;
  }
}

@media (width > 1024px) {
  .navbar {
    padding-inline: 10%;
  }
}